---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  CLUSTER_NAME: cluster2
  CONNECTOR_CIDR: "10.41.0.0/16"
  CONNECTOR_HOSTNAME: kb-cluster2-aws-uw2-connector
