vars:
  location: eastus
  tenant: my
  environment: az-ue1
  stage: test

import:
  - catalog/azure-aks

components:
  terraform:
    azure-aks:
      vars:
        cluster_name: "cluster1"
        sr_instance_hostname: "my-cluster1-az-ue1-sr"
        vnet_cidr: "10.2.0.0/16"
        aks_service_ipv4_cidr: "10.42.0.0/16"
        cluster_outbound_type: "loadBalancer"
    azure-k8s-setup:
      settings:
        depends_on:
          1:
            component: "azure-aks"