vars:
  region: us-west-2
  tenant: my
  environment: aws-uw2  
  stage: test

import:
  - catalog/aws-eks

components:
  terraform:
    aws-eks:
      vars:
        name: "my-cluster2-aws-uw2"
        public_workers: false
        sr_instance_hostname: "my-cluster2-aws-uw2-sr"
        cluster_endpoint_public_access: false
        cluster_endpoint_private_access: true
        vpc_cidr: "10.1.0.0/16"
        cluster_service_ipv4_cidr: "10.41.0.0/16"
        advertise_routes: ["10.1.0.0/16"]
        tailscale_track: "unstable"
        tailscale_relay_server_port: 45641
    aws-k8s-setup:
      vars:
        connector_cidr: "10.40.0.0/16"
        argo_config_path: "clusters/cluster2/argocd/apps"
        argo_repo_url: "https://github.com/rajsinghtech/dogfooding-tailscale"
        tailscale_operator_image_tag: "unstable"
        tailscale_proxy_image_tag: "unstable"
      settings:
        depends_on:
          1:
            component: "aws-eks"