apiVersion: v1
kind: Secret
metadata:
  name: operator-oauth
  namespace: tailscale
stringData:
  client_id: "kJAimH6Bih11CNTRL"
  client_secret: "tskey-client-kJAimH6Bih11CNTRL-ejjQeLq9d4W4z9toxd4o5WFpeVy1vbhC"