################################################################################
# EKS Cluster Reqd. Vars                                                       #
################################################################################
name = "my-demo"
region = "ca-central-1" 

################################################################################
# Tailscale Reqd. Vars                                                         #
################################################################################
oauth_client_id = "blahblah"
oauth_client_secret = "blahhalb123"

################################################################################
# Client EC2 Instance Reqd. Vars                                               #
################################################################################
hostname = "my-ubuntu-client" 

################################################################################
# Common User Vars reqd. for all Cluster Instances and client EC2 Instance     #
################################################################################
ssh_keyname = "my-aws-keypair-name.pem"
#tags = {
#  "Environment" = "Test"
#  "Owner"       = "MeMyselfandI"
#}
