components:
  terraform:
    azure-aks:
      vars:
        subscription_id: "your-azure-subscription-id"
        ssh_private_key_path: "~/.ssh/id_ed25519_me"
        ssh_public_key_path: "~/.ssh/id_ed25519_me.pub"
        oauth_client_id: "redacted"
        oauth_client_secret: "redacted"
        aks_version: "1.34"
        cluster_vm_size: "Standard_B2s"
        vm_size: "Standard_B2s"
        min_count: "1"
        node_count: "2"
        max_count: "3"
        tags:
          "Owner": "Me"
          "Team" : "Myself"
          "ManagedBy": "Atmos"