components:
  terraform:
    google-gke-dpv2:
      vars:
        project_id: "myprojectid"
        oauth_client_id: "myoauthclientid"
        oauth_client_secret: "myoauthclientsecret"
        ssh_public_keys: ["myuser:ssh-ed25519 blahblah myuser@myhost"]
        tags:
          "owner": "me"
          "team": "myteam"
          "managed_by": "Atmos/Terraform"
    google-k8s-setup:
      vars:
        tailscale_operator_image_tag: "stable"
        tailscale_proxy_image_tag: "stable"
      settings:
        depends_on:
          1:
            component: "google-gke-dpv2"